body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  margin: 0 40px;
  max-width: 100%;

}

.navbar__btn{
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  background-color: beige;
  cursor: pointer;
  color: #000000;
  text-decoration:none;
}

.board{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  border: 1px solid grey;
}

.modal{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 600px;
  background: #ffffff;
}

.modal-content__header {
  position: relative;
  padding: 23px 50px;
  background: #3185d0;
}

.modal-content__close{
  position: absolute;
  top: 3%;
  right: 1%;
  color: #fff;
  background: 0 0;
  /*font-size: 0;*/
}

.modal-content__close-in:after{
  display: inline-block;
  content: "\00d7";
  font-size: 40px;
  cursor: pointer;
}

.modal-content__title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  text-align: center;
  letter-spacing: .02em;
}

.modal-content__body {
  padding: 20px;
}

.input {
  display: inline-block;
  vertical-align: top;
  /*padding: 0 16px;*/
  padding-left: 16px;
  margin: 10px 10px;
  border: 1px solid #9c9c9c;
  border-radius: 2px;
  width: 93%;
  height: 50px;
  background-color: #fff;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: .02em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select {
  background-image: url(./img/angle-down.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: auto 18px;

}

.modal-content__footer {
  display: flex;
  justify-content: center;
  padding-top: 28px;
}

.btn {
  padding: 0 10px;
  border: 1px solid #134580;
  border-radius: 2px;
  min-width: 150px;
  color: #fff;
  background: #1b579e;
  -webkit-box-shadow: 0 4px 4px rgba(0,0,0,.25);
  box-shadow: 0 4px 4px rgba(0,0,0,.25);
  font-family: inherit;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 53px;
}

.btn_sm {
  min-width: 125px;
  height: 45px;
  font-size: 18px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: .02em;
  text-align: center;
}

.btn_details{
  margin: 10px 0;
  cursor: pointer;
}